/* Font Family  */
@font-face { font-family: 'Keshiki'; src: url("font-family/Keshiki/Sdasian-WyDon.ttf"); }
@font-face { font-family: 'sd-asian'; src: url("font-family/SD-Asian/Sdasian-WyDon.ttf"); }
@font-face { font-family: 'Poppins'; src: url("font-family/Poppins/Poppins-Medium.ttf");}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
}

body {
    background: url('fallback-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

video {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 0 20px;
}

.navbar {
    padding: 12px 10px;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar .logo {
    font-family: 'sd-asian';
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: auto;
}

.page-content {
    text-align: center;
    margin-top: 10rem;
    padding: 0 10px;
}

.page-content .inner-content .heading {
    font-size: 8vw;
    font-family: 'sd-asian';
}

.page-content .inner-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
}

@media (max-width: 768px) {
    video {
        height: 100vh;
    }
    .page-content .inner-content .heading {
        font-size: 12vw;
    }
    .page-content .inner-content p {
        font-size: 3vw;
    }
}

.page-content .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-content .buttons a {
    display: block;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0 16px;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 13px;
    min-width: 120px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(60px);
    overflow: hidden;
    z-index: 1;
    border: 1px solid #ffffff1e;
}

.page-content .buttons a.active {
    background-color: #e1340d;
}

.page-content .buttons a.active:hover {
    box-shadow: 0 0 40px rgb(253, 2, 2);
}

.page-content .social-links {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.page-content .social-links a {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.page-content .social-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #f15405;
    z-index: -1;
}

.page-content .social-links a:hover::after {
    height: 100%;
}
